# git忽略文件
# .gitignore

# VScode配置文件
.vscode/

# imx6ull的SDK
MCIMX6Y2/

# 中间文件
build/

# 模版工程
demo/
imxdownload/imxdownload.out

# imx6ull的uboot 镜像
img/

# 模块编译生成文件
*.mod*
*.o
*.symvers
*.order
*.cmd
*.swp